@import "variables";
.media-object
{
  max-height: $imageDimensions;
  max-width: $imageDimensions;
  border-radius: 8px;
  height: auto;
  width: auto;
}
.media-heading{
  color: $buttonSelected;
}
.media-heading:hover {
  color: lighten($buttonSelected,10%);
}
.sub-media-object
{
  max-height: $subImageDimensions;
  max-width: $subImageDimensions;
}
.media-body{
  font-size: 16px;
}
