@import "compass_twitter_bootstrap";
@import "imports";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

*{
  font-family: 'Droid Sans', sans-serif;
  font-size: 19px;
}

body {
  background-color: lighten($buttonSelected,20%);
  color: $lightBackgroundColour;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

img {
  margin: auto;
}
.hero-unit h1{
  font-weight: bold;
}

.header {
  border-bottom: 3px solid $hightlight;
  height: 149px;
}

.icon-white {
}

.icon-black {
}

[class^="icon-"] {
  background-image: $iconBackground;
}

[class*=" icon-white"] {

  background-image: $iconBackgroundWhite;
}

tabset {
  position: absolute;
  margin-top: -44px;
  margin-left: 1px;
}

.hero-unit {
  background-color: #424242;
  margin-top: 0px;
  border-radius: 0 0 6px 6px;
}

.nav-tabs {
  border-bottom: 0;
  font-size: 19px;
  li {
    color: $buttonSelected;
    a:hover {
      background: $buttonIdle;
      color: $backgroundColour;
      i {
        background-image: $iconBackground;
      }
    }

  }
  .active > a {
    background: $buttonSelected;
    color: #ffffff;
    border-color: $lightBackgroundColour;
  }
}

canvas {
  border-radius: 6px;
}
.home-list-item{
  list-style-type: disc;
}
